body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}




#footer {
    background-color: #2e2f42;

}

span {

    color:  #2e2f42;
}

.web-studio {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.web-studio:hover {
    color: #404bbf;
}
.web-studio:focus {
    color: #404bbf;
}


.partlogo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.partlogo__studio {
    color: #2e2f42;
}

.partlogo__studio_end {
    color: #FFFFFF;  
}


.menu li a {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    
}


.studmenu:hover,
.studmenu:focus {
    color: #404BBF;
}

.contacts:focus,
.contacts:hover {
    color: #404bbf;
 }


.menu li a:hover {
    color: #404bbf;
}

.menu li a:focus {
    color: #404bbf;
}

.menu .studmenu:hover {
    color: #404bbf;

} 

.menu .studmenu:focus {
    color: #404bbf;

}

.contact-info li a {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    
}







.top {
    background-color:#2e2f42
    
}

.slogan {
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff;
}
 
.contact-info {

    font-style: normal;

}

    

.button{
    background-color: #4D5AE5;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    

}

button:focus {
    background-color: #404BBF;
}

button:hover {
    background-color: #404BBF;
}

a:hover {
    color: #404bbf;
}

a:focus {
    color: #404bbf;
}








.featureshead {

    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.featurestext{

    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.headhtwo {
    background-color: #F4F4FD;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;


}

.secondsect {
    background-color: #F4F4FD;

}


.headteam {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;

}

.teamtext {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.devcast {
    background-color: #FFFFFF;
}

.logoportfolio {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.textthird {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455 ;

}
.end{
    background-color:#2e2f42;
    
}

.endpage {
    line-height: 1.5;
    color: #F4F4FD;
    letter-spacing: 0.02em;
}

.partlogosecond {
    color: #f4f4fd;}
